<p id="notice"><%= notice %></p>

<h1>Developers</h1>

<%= link_to("self", "http://192.168.122.143:3000/developers", {})%>
<%= link_to("todos", "http://192.168.122.143:3000/todos", {})%>
<%= link_to("refs", "http://192.168.122.143:3000/refs", {})%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.name %></td>
        <td><%= developer.email %></td>
        <td><%= link_to 'Show', developer %></td>
        <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
        <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Developer', new_developer_path %>
