<p id="notice"><%= notice %></p>

<!-- <h1>Todos</h1> -->
<h1>List of tasks</h1>

<table>
  <tr><td><%= @params %></td></tr>
  <tr><td><%= @param_page %></td></tr>
  <tr><td><%= @param_todo %></td></tr>
  <!-- <tr><td>If you indicate "user" param: <%= @param_user  %></td></tr> -->
</table>

<table>
  <thead>
    <tr>
      <th>Taskname</th>
      <th>Deadline</th>
      <th>Stat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.order(deadline: :asc, taskname: :asc).each do |todo| %>
      <tr>
        <td><%= todo.taskname %></td>
        <td><%= todo.deadline %></td>
        <%@stat='None'%>
        <%if todo.deadline%>
          <%if Date.today > todo.deadline then @stat="Expired" else @stat="Under plan" end%>
        <%end%>
        <td><%= @stat %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @todos %>
<br>

<%= link_to 'New Todo', new_todo_path %>
